<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width , intial-scale=1.0">
    <title>Bag Items </title>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,600;1,100;1,300&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&family=Tinos&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/Dashboard.css">
    
    <style>
        table th {
            width: 10%;
        }

        table td {
            width: 10%;
            text-align: center;
        }
        input{
            border: 1px black solid;
            padding: 5px;
            margin: 10px;
        }
        form{
            border: 1px black solid;
            padding: 5px;
            margin: 10px;
        }
    </style>
</head>

<body>

    <%- include('./companents/nav.ejs') %>
        <section style="clear: both;padding: 15%;">
            <h1>Bag Items</h1>
            <div>
                <table>
                    <thead>
                        <tr>
                            <th>Product Name</td>
                            <th>price</td>
                            <th>Offer</td>
                            <th>Total</td>
                        </tr>
                    </thead>
                    <tbody>
                        <% cart.forEach(function(item) { %>
                            <tr>
                                <td>
                                    <%= item.name %>
                                </td>
                                <td>
                                    <%= item.price %>
                                </td>
                                <td>
                                    <%= item.offer %> %
                                </td>
                                <td>
                                    <%= item.price - item.price * item.offer /100%> EGP
                                </td>
                            </tr>
                            <% }) %>
                    </tbody>
                    <hr />
                    <thead>
                        <tr>
                            <hr />
                        </tr>
                        <tr>
                            <th></th>
                            <th>
                                <%= cart.reduce((acc, array)=> acc + Number(array.price),0)%>
                            </th>
                            <th></th>
                            <th>
                                <%= cart.reduce((acc, array)=> acc + Number(array.total),0)%>
                            </th>
                        </tr>
                    </thead>
                </table>

            </div>
            <br />
            <div>
                <h1>Follow Up Data</h1>
                <form>
                    <div class="user-box">
                        <label>Customer Name :</label>
                        <input type="text" id="Name" name="Name" value="<%= fullname.fullname %>" required="">
                    </div>
                    <div class="user-box">
                        <label>Email :</label>
                        <input type="email" id="email" name="email" value="<%= fullname.email %>" required="">
                    </div>
                    <div class="user-box">
                        <label>Mobile Num :</label>
                        <input type="text" id="mobile" name="mobile" required="">
                    </div>
                </form>
                <button onclick="confirmcart('<%= JSON.stringify(cart)  %>')" style="background-color: black;color: white;padding: 5px; margin: 10px;"> Confirm</button>
            </div>
        </section>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
        <script>
            const form = {
                name: document.getElementById("Name"),
                email: document.getElementById("email"),
                mobile: document.getElementById("mobile"),
            };
   function confirmcart(cart) {
                $.ajax({
                    url: "/confirmcart",
                    method: 'post',
                    contentType: 'application/json',
                    data: JSON.stringify({
                        name: form.name.value,
                        email: form.email.value,
                        mobile:form.mobile.value,
                        cart : cart
                    }),
                    success: function (response) {
                            window.location.replace('/');
                            localStorage.clear();
                    },
                    error: function (response) {
                        document.getElementById("errormassage").innerHTML = response.responseJSON.message
                    }
                }
                )

            }

        </script>
</body>

</html>